.Tags__Title {
  margin: 0;
  font-size: 14px;
}
.Tags__List {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Tags__Item {
  display: flex;
  margin-top: 10px;
}

.Tags__Tag {
  width: 335px;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
}

button.Tags__Delete {
  display: flex;
  align-items: center;
  padding: 20px 28px;
  color: #F5222D;
  border-color: #F5222D;
}