.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 15px 20px 25px;
  background-color: #FFFFFF;
  border-radius: 5px;;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.article__header {
  display: flex;
}

 .article__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.article__title-wrapper {
  display: flex;
}

.article__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.article__link {
  text-decoration: none;
  color: #1890FF;
}

.article__like {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 10px;
  background-image: url('../../img/like-inactive.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.article__likes-count {
  font-size: 20px;
}

.article__like:hover {
  transform: scale(1.2);
}

.article__like--favorited {
  background-image: url('../../img/like-active.png');
}

.article__like--disabled:hover {
  transform: scale(1);
  cursor: auto;
}

.article__likes-count--favorited {
  color: red;
  font-weight: bold;
}

.article__tags {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-wrap: break-word;
  list-style: none;
}

.article__tags-item {
  padding: 2px 5px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
 
.article__right {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
}

.article__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.article__username {
  font-size: 20px;
  color: #000000;
}

.article__buttons {
  margin-top: 20px;
}

button.article__delete {
  margin-right: 20px;
  background-color: #FFFFFF;
  color: #F5222D;
  border-color: #F5222D;
}

button.article__edit {
  background-color: #FFFFFF;
  color: #52C41A;
  border-color: #52C41A;
}

button.article__edit:hover {
  background-color: #52C41A;
}

.article__userinfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 20px;
} 


.article__description {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  color:rgba(0, 0, 0, 0.5);
}

