input.Form__Input,
textarea.Form__Input {
  margin-bottom: 20px;
  padding: 10px;
}

button.Form__Submit {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 20px 150px;
  bottom: 50px;
  left: 30px;
}