.App {
  width: 1366px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #E5E5E5;
}


.Main {
  width: 960px;
  margin: 0 auto;
  padding: 25px 0;
}