.Header {
  display: flex;
  padding: 20px 20px 15px;
  font-size: 18px;
  line-height: 28px;
  background-color: #FFFFFF; 
}

.Header__Title {
  margin: 0;
  padding: 0;
}

.Header__TitleLink {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.Header__Loggedout,
.Header__Loggedin {
 display: flex;
 align-items: baseline;
 margin-left: auto;
}

.Header__Loggedout {
  align-items: flex-end;
}

.Header__Userinfo {
  display: flex;
  align-items: flex-end;
  margin-right: 25px;
}

.Header__Username {
  color: #000000;
  margin-right: 10px;
}

.Header__CreateArticle {
  margin-right: 20px;
  padding: 3px 5px;
  font-size: 16px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
}

.Header__CreateArticle:active {
  color: #52C41A;
  border-color: #52C41A;
}

.Header__CreateArticle:hover {
  color: #52C41A;
  border-color: #52C41A;
}

.Header__Logout {
  box-sizing: border-box;
  margin: 0;
  padding: 5px 10px;
  
  border: none;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.Header__Logout:active,
.Header__Logout:hover{
  color: #52C41A;
  border-color: #52C41A;
}

.Header__SigninLink {
  margin-right: 20px;
  color: #000000;
}

.Header__SignupLink {
  color: #000000;
}

.Header__SigninLink:hover,
.Header__SignupLink:hover {
  color: #52C41A;
}

.Header__SigninLink:active,
.Header__SignupLink:active {
  color: #52C41A;
  border: 1px solid #52C41A;
  border-radius: 5px;
}