.header {
  display: flex;
  padding: 20px 20px 15px;
  font-size: 18px;
  line-height: 28px;
  background-color: #FFFFFF; 
}

.header__title {
  margin: 0;
  padding: 0;
}

.header__title-link {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.header__loggedout,
.header__loggedin {
 display: flex;
 align-items: baseline;
 margin-left: auto;
}

.header__loggedout {
  align-items: flex-end;
}

.header__userinfo {
  display: flex;
  align-items: flex-end;
  margin-right: 25px;
}

.header__username {
  color: #000000;
  margin-right: 10px;
}

.header__create-article {
  margin-right: 20px;
  padding: 3px 5px;
  font-size: 16px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
}

.header__create-article:active {
  color: #52C41A;
  border-color: #52C41A;
}

.header__create-article:hover {
  color: #52C41A;
  border-color: #52C41A;
}

.header__logout {
  box-sizing: border-box;
  margin: 0;
  padding: 5px 10px;
  
  border: none;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.header__logout:active,
.header__logout:hover{
  color: #52C41A;
  border-color: #52C41A;
}

.header__signin-link {
  margin-right: 20px;
  color: #000000;
}

.header__signup-link {
  color: #000000;
}

.header__signin-link:hover,
.header__signup-link:hover {
  color: #52C41A;
}

.header__signin-link:active,
.header__signup-link:active {
  color: #52C41A;
  border: 1px solid #52C41A;
  border-radius: 5px;
}